body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

.logos {
    display: flex;
}

.logo img {
    width: 10vw;
    height: 10vw;
    margin: 1.5vw;
    border-radius: 50%;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}